<!DOCTYPE html>
<html>
<head>
  <title>MapIt2</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaiIkPqpjpyVLOj_xWuXPhAtrRKWkiqYk"></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- custom infoboxes -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Map It 2
          <!-- <img alt="Brand" src="..."> -->
        </a>
      </div>
    </div>
  </nav>
  <div id="canvas-wrapper">
    <div id="map-canvas"></div>
  </div>
  <%= yield %>
</body>
</html>
